.login-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.eyeToggler {
    position: absolute;
    right: 15px;
    transform: translate(0,-50);
    top: 27%;
    cursor: pointer;
    font-size: 1.5rem;
}