.geoCodingDiv {
    width: 28vw !important;
    margin: 15px;
}

.geoCodingSpan {
    width: 29vw;
    font-size: 0.8rem;
}

.geoCodingBtn {
    display: block !important;
    width: 29vw;
    font-size: 0.8rem;
}

@media (min-device-width: 1280px) {
    .geoCodingDiv {
        width: 45vw !important;
        height: 45px;
        margin: 10px;
        display: flex;
        flex-direction: row;
    }

    .geoCodingSpan {
        width: 7vw;
        font-size: 1.2rem;
       
    }
    .geoCodingBtn {
        width: 7vw;
        margin-left: 15px;
        padding: 2px;
        font-size: 1rem;
    }
}